# Core dependencies
flet~=0.25.2
SQLAlchemy~=2.0.36
python-dotenv~=1.0.1

# Security
cryptography~=44.0.1

# Utilities
nanoid~=2.0.0
Faker~=35.1.0
Jinja2~=3.1.5

# Development tools
black~=24.7.0
flake8~=7.0.0