<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
</head>

<body style="background-color: #F2F2F2; text-align: center; font-family: Arial, Helvetica, sans-serif">
    <table role="presentation"
           style="max-width: 600px; border-collapse: collapse; border: 0px; border-spacing: 0px; margin-left: auto; margin-right: auto; text-align: left;">
        <tbody>
            <tr>
                <td style="padding: 40px 0px 0px;">
                    <!-- Logotype -->
                    <div style="text-align: left;">
                        <div style="padding-bottom: 10px;">
                            <img src="assets/logotype.svg" alt="logo dephokey" style="width: 120px">
                        </div>
                    </div>
                    <!-- Body content -->
                    <div style="padding: 20px; background-color: #FFFFFF; border-radius: 4px">
                        <div style="color: #000000; text-align: left;">
                            <h1 style="margin: 1rem 0; color: #4860B5;">Código de Verificación</h1>
                            <p style="padding-bottom: 16px;">Hola {{ name }}! Por favor, utiliza el código de siete
                                caracteres proporcionado en el programa para poder actualizar tu contraseña:</p>
                            <p style="padding-bottom: 16px; text-align: center; color: #0E2060"><strong
                                    style="font-size: 180%;">{{ code }}</strong></p>
                            <p style="padding-bottom: 16px">Si no has realizado la petición, puedes ignorar este email.</p>
                            <p style="padding-bottom: 16px">Gracias,<br>El equipo Dephokey</p>
                        </div>
                    </div>
                    <div style="padding-top: 5px; color: #9A9A9A; text-align: center">
                        <p style="padding-bottom: 16px;">DephoKey © 2025 · Todos los derechos reservados </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>